<div class="col-12 col-lg-4">
    <aside class="pt-3 pb-4 px-4 mb-5 card">
        <h1 class="h4 pt-2 pb-2">Моя компания</h1>
            <div class="nav flex-column nav-pills">
                {% url 'mycompany' as mycompany%}
                {% url 'mycompany_create' as mycompany_c %}
                {% url 'mycompany_update' as mycompany_u %}
                <a class="nav-link {% if request.path == mycompany or request.path == mycompany_c or request.path == mycompany_u %}active{% endif %}" href="{{ mycompany }}">1. Информация о&nbsp;компании</a>
                {% url 'mycompany_vacancy_list' as mycompany_vacancy_list%}
                <a class="nav-link {% if request.path == mycompany_vacancy_list %}active{% endif %}" href="{{ mycompany_vacancy_list }}">2. Вакансии</a>
            </div>
    </aside>
</div>