  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mr-4" href="{{ main_part_of_menu.link }}">{{ main_part_of_menu.title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav col-10">
          {% for part in parts_of_menu %}
          <li class="nav-item {% if request.path == part.link %}active{% endif %}">
            <a class="nav-link" href="{{ part.link }}">{{ part.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <ul class="navbar-nav col-2 justify-content-end">
            {% ifnotequal username False %}
                <li class="nav-item active">
                    <div class="btn-group">
                      <button type="button" class="btn dropdown-toggle font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ username }}
                      </button>
                      <div class="dropdown-menu dropdown-menu-right mt-3">
                        <a href="#" class="dropdown-item py-2">Профиль</a>
                        <a href="{% url 'myresume' %}" class="dropdown-item py-2">Резюме</a>
                        <a href="{% url 'mycompany' %}" class="dropdown-item py-2">Компания</a>
                        <a href="{% url 'logout' %}" class="dropdown-item py-2">Выйти</a>
                      </div>
                    </div>
             </li>
            {% else %}
              <li class="nav-item active">
                <a href="{% url 'login' %}" class="nav-link font-weight-bold">Вход</a>
              </li>
            {% endifnotequal %}
        </ul>
      </div>
    </nav>
  </header>